<mat-card>
  <div *ngIf="user === undefined && !userNotFound">
    <mat-progress-spinner
      [color]="primary"
      [mode]="'indeterminate'"
      diameter="35">
    </mat-progress-spinner>
  </div>
  <div *ngIf="userNotFound">
    user with id {{ id }} not found
  </div>

  <div *ngIf="user !== undefined">
    <mat-list>
      <mat-list-item>
        id is {{ id }}
      </mat-list-item>
      <mat-list-item>
        name is {{ user.name }}
      </mat-list-item>
      <mat-list-item>
        surname is {{ user.surname }}
      </mat-list-item>
      <mat-list-item>
        email is {{ user.email }}
      </mat-list-item>
    </mat-list>
    <button mat-stroked-button color="primary" (click)="openDialog()">Edit</button>
  </div>
</mat-card>