<mat-card>
  <div *ngIf="user === undefined && !userNotFound">
    <mat-progress-spinner
      [color]="primary"
      [mode]="'indeterminate'"
      diameter="35">
    </mat-progress-spinner>
  </div>
  <div *ngIf="userNotFound">
    {{ 'USER-DETAIL.userWithID' | translate }} {{ id }} {{ 'USER-DETAIL.notFound' | translate }}
  </div>

  <div *ngIf="user !== undefined">
    <mat-list>
      <mat-list-item>
        {{ 'USER-DETAIL.id' | translate }} {{ id }}
      </mat-list-item>
      <mat-list-item>
        {{ 'USER-DETAIL.name' | translate }} {{ user.name }}
      </mat-list-item>
      <mat-list-item>
        {{ 'USER-DETAIL.surname' | translate }} {{ user.surname }}
      </mat-list-item>
      <mat-list-item>
        {{ 'USER-DETAIL.email' | translate }} {{ user.email }}
      </mat-list-item>
    </mat-list>
    <button mat-stroked-button color="primary" (click)="openDialog()">{{ 'USER-DETAIL.edit' | translate }}</button>
  </div>
</mat-card>
