<mat-card>
  <div *ngIf="loading">
      <mat-progress-spinner
          [color]="primary"
          [mode]="'indeterminate'">
      </mat-progress-spinner>
  </div>
  <mat-list *ngIf="users !== undefined && !loading">
    <mat-list-item
      *ngFor="let user of users; let i = index; let l = last">
      <app-user-item
        [index] = "i"
        (DeleteUser)="deleteUser($event)"
        [user]="user"
        fxFlex="100"></app-user-item>
        <mat-divider *ngIf="!l"></mat-divider>
    </mat-list-item>    
  </mat-list>
  <mat-card-title *ngIf="!loading && (users === undefined || users.length === 0)">
    No users found
  </mat-card-title>
</mat-card>
<button mat-mini-fab color="primary" class="add-user" (click)="openDialog()">+</button>