.add-user {
    font-size: 25px;
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.head-add-user {
    background-color: #3f51b5;
    text-align:center;
    padding: 5px;
    color: #fff;
    font-size: 20px;
}

.add-user-list {
    width: 300px;
    text-align: center;
    border: 1px solid #000;
    padding-bottom: 20px;
}