<div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxFlex="100"
    class="user-item-container">
    <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        (click)="goToDetail()">
        <div fxFlex="70px">{{ user.id }}</div>
        <div fxFlex="150px">{{ user.name }}</div>
        <div fxFlex="250px">{{ user.surname }}</div>
        <div fxFlex="350px">{{ user.email }}</div>        
    </div>    
    <div class="delete-button-container">
        <button mat-icon-button (click)="openDeleteDialog(user.id)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>